{% extends 'core/base.html' %}

{% block titulo %}
    Detalle de Categoría
{% endblock titulo %}

{% block main %}
<div class="card shadow mx-auto" style="max-width: 500px;">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">{{ categoria.nombre }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Descripción: <span class="fw-light">{% if categoria.descripcion %}{{ categoria.descripcion }}{% else %}-{% endif %}</span></li>
    </ul>
</div>
{% endblock main %}