{% extends 'core/base.html' %}

{% block titulo %}
    {% if form.instance.pk is not None %}
        Actualizar Producto
    {% else %}
        Crear Producto
    {% endif %}
{% endblock titulo %}

{% block main %}
<div class="card shadow-sm mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <h5 class="card-title mb-3">Formulario de Producto</h5>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </form>
    </div>
</div>
{% endblock main %}
