<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Productos</h1>
    <ul>
        {% for producto in productos %}
            {% if producto.descripcion %}
                <li> {{ producto.nombre }}: {{ producto.descripcion }}</li>
            {% else %}
                <li> {{ producto.nombre }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <button><a href="{% url 'core:index' %}">Inicio</a></button>
</body>
</html>