<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coderhouse</title>
</head>
<body style="margin: 2%;">
    <header>
        <h1 style="text-align: center;">
          
            {% block titulo %}
            {% endblock titulo %}

        </h1>
    </header>
    {% include 'core/componentes/navbar.html' %}
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    {% include 'core/componentes/footer.html' %}
</body>
</html>