<nav>
    <ul>
        <li><a href="{% url 'core:index' %}">Inicio</a></li>
        
        {% if user.is_authenticated %}
            <li><a href="{% url 'producto:lista' %}">Categorías</a></li>
            <li><a href="{% url 'producto:lista_producto' %}">Producto</a></li>
            <li><a href="#">{{ user.username }}</a></li>
            <form action="{% url 'core:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <li><a href="{% url 'core:login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>